/* Highlighter Component Styles */

.highlight-container {
    white-space: pre-wrap;
}

.highlight-container .text-missing {
    text-align: center;
    margin-top: 60px;
}

.highlight-container .text-block {
    transition: background-color 50ms linear;
}